# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\源码\#170\6f7443998793a93477c96172aff091ff\手把手搭建Java社团管理系统【附源码】（毕设）【534979】课程概述\项目源码\ssm_stglxt\ssm_stglxt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
